<footer class="footer">
    <div class="modal-backdrop fade in js-modal-backdrop"></div>
    <div class="feedback-box" onmouseover="is_feedback=false" onmouseout="is_feedback=true">

        <div class="close-box pull-right js-feedback-close" data-show="true">
            <i class="icon icon-close"></i>
        </div>
        <div class="will-choose">*</div>
        <textarea id="content" class="form-control" placeholder="请输入反馈，我们将为您不断改进"></textarea>
        <input class="form-control" id="contact" placeholder="请输入手机/邮箱">
        <a class="btn btn-article pull-left js-feedback-submit transition">提交</a><span class="will-choose-error">请输入反馈信息</span>
    </div>

    <div class="go-top-box js-go-top-box">

        <div class="go-top transition js-show-feedback-box">
            <div class="go-hover transition">
                用户反馈
            </div>
            <i class="icon-footer-right i-reply"></i>
        </div>

        <div class="go-top app-feedback js-app-feedback transition">
            <div class="app-footer-guide">
                <img src="static/picture/1450293529.png">
                <span style="color: #333;line-height:2;">虎嗅APP</span>
            </div>
            <i class="icon-footer-right i-qr"></i>
        </div>

        <div class="go-top go-footer js-go-top transition" id="go-top-btn">
            <div class="go-hover transition">
                回到顶部
            </div>
            <i class="icon-footer-right i-top"></i>
        </div>

    </div>

    <div class="container copy-right">
        <div class="footer-tag-list">
            <a href="/about.html" target="_blank" class="transition">关于我们</a>
            <a href="/joinus.html" target="_blank" class="transition">加入我们</a>
            <a href="/links" target="_blank" class="transition">合作伙伴</a>
            <a href="/tags/10340.html" target="_blank" class="transition">防网络诈骗专题</a>
        </div>
        <span>Copyright © <a href="https://www.huxiu.com">虎嗅网</a> <a href="http://beian.miit.gov.cn" target="_blank">京ICP备12013432号-1</a>
            &nbsp;<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102001402" target="_blank"><i class="i-wj"></i>京公网安备 11010102001402号</a>&nbsp;&nbsp;&nbsp;<em class="bull-right">本站由</em><i class="icon-aliyun" style="width: 70px;background-size: 100%;left: 7px;"></i><em class="bull-em">提供计算与安全服务</em>
        </span>
        <div class="footer-icon-list pull-right">
            <ul>
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode">
                        <img src="static/picture/huxiu_com.png">
                    </div>
                    <i class="icon icon-footer icon-footer-wx"></i>
                </li>
                </a>
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode">
                        <img src="static/picture/app_erweima.png">
                    </div>
                    <i class="icon icon-footer icon-footer-ios"></i>
                </li>
                </a>
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode">
                        <img src="static/picture/app_erweima.png">
                    </div>
                    <i class="icon icon-footer icon-footer-android"></i>
                </li>
                </a>
            </ul>
        </div>
    </div>
</footer>