<header id="top" role="banner" class="transition">
    <div class="container">
        <div class="navbar-header transition">
            <a href="/" title="首页">
                <img src="__STATIC__/index/picture/logo.jpg" alt="虎嗅网" title="首页" />
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li class="nav-news js-show-menu">
                <!--header-column3-->
                <ul class="header-column header-column1 header-column-zx menu-box" onmouseover="isOut=false" onmouseout="isOut=true">
                    <li><a href="/channel/103.html" target="_blank" class="transition">电商消费</a></li>
                    <li><a href="/channel/22.html" target="_blank" class="transition">娱乐淘金</a></li>
                    <li><a href="/channel/21.html" target="_blank" class="transition">车与出行</a></li>
                    <li><a href="/channel/104.html" target="_blank" class="transition">人工智能</a></li>
                    <li><a href="/channel/106.html" target="_blank" class="transition">年轻一代</a></li>
                    <li><a href="/channel/105.html" target="_blank" class="transition">智能终端</a></li>
                    <li><a href="/channel/111.html" target="_blank" class="transition">医疗健康</a></li>
                    <li><a href="/channel/102.html" target="_blank" class="transition">金融地产</a></li>
                    <li><a href="/channel/110.html" target="_blank" class="transition">企业服务</a></li>
                    <li><a href="/channel/2.html" target="_blank" class="transition">创业维艰</a></li>
                    <li><a href="/channel/112.html" target="_blank" class="transition">社交通讯</a></li>
                    <li><a href="/channel/107.html" target="_blank" class="transition">全球热点</a></li>
                    <li><a href="/channel/4.html" target="_blank" class="transition">生活腔调</a></li>
                </ul>
                <a href="/">资讯 <span class="caret"></span></a>
                <!--                <a href="https://test-beta.huxiu.com">新版资讯</a>-->
            </li>

            <li class="nav-news" style="display: none;"><a href="/topic_list" target="_blank">热议<span class="nums-prompt nums-prompt-topic"></span></a></li>
            <li class="nav-news"><a href="/moment" class="js-nav-24" target="_blank">24小时</a></li>
            <li class="nav-news"><a href="/active" target="_blank">活动</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right transition">
            <!--<li class="app-guide js-app-guide" >-->
                <!--<div class="app-guide-box">-->
                    <!--<img src="static/picture/1448211685.png">-->
                    <!--<div class="app-guide-title">-->
                        <!--<span>微信扫一扫</span><br>-->
                        <!--<span>下载虎嗅APP</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<i class="icon icon-sm-phone"></i>APP下载<em class="guide-prompt"></em>-->
            <!--</li>-->
            <li class="search-li js-show-search-box"><i class="icon icon-search "></i><span>搜索</span></li>
            <li class="login-link-box"><a class="js-login">登录</a></li>
            <li><a class="js-register">注册</a></li>
            <li class="common-head-tg"><a class="js-open-contribute transition" target="_blank">投稿</a></li>
        </ul>
    </div>
</header>